body {
	background-color: #b8bbc1;
}

h3{
	font-family: "Georgia", serif;
	color: #af080e;
}


.container{
	width: 100%;
	min-height: 900px;
}

input#add-sport{
	width: 100px;
	height: 40px;
	border-radius: 6px;
	font-size: 20px;
	font-family: "Georgia", serif;
	background-color: #af080e;
	color: white;

}
button.sports{
	width: auto;
	height: 40px;
	border-radius: 12px;
	font-family: "Georgia", serif;
	background-color: #af080e;
	color: white;
}

.item{
	float: left;  
	margin: 15px;
}

img {
	border: 1px solid #af080e;
}

p{
	font-family: "Georgia", serif;
	color: #af080e;
}

footer {
	width: 100%;
	text-align: center;	
}

#p1{
	border-top: 1px solid #af080e;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-family: "Georgia", serif;
	color: #af080e;
}